<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.0-beta6" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="neosystems.tools" version="0.0.3-alpha" targetFramework="net452" />
  <package id="neosystems.webtools" version="0.0.1-alpha" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.16.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net452" />
</packages>